{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}

    <h1 class="mt-5">Inscription</h1>
    <div class="container">
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button class="btn btn-warning my-3" type="submit" >Enregistrer</button>
    {{ form_end(userForm) }}
    </div>
{% endblock %}
