* {
    box-sizing: border-box;
    margin : 0;
    padding:0;
    font-family: Arial, sans-serif;
}

header {
    margin-top: 30px;
}

h1 {
    font-family: "Baskerville Old Face";
    font-weight: bold;
    font-size: 95px;
    color: transparent;
    padding: 6vh;
    background-image: url('../img/reception/Fond Vert.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


h2 {
    font-family: "Baskerville Old Face";
    font-style: italic;
    font-size: 50px;
    margin-right: 10vh;
    color: #bd9742;
    font-weight: bolder;
}

h3 {
    font-family: "Baskerville Old Face";
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #bd9742;
}

h4 {

}

.shop-list, .store-list, .footer-list {
    background-color: rgba(255, 255, 255, 0.4); /* Couleur de fond semi-transparente */
    background-image: url("../img/reception/Fond Vert.jpg");
    background-size: cover;
}

#my-navbar {
    background-image: url("../img/reception/Fond Jaune.jpg");
    position: fixed;
    z-index: 100;
    padding-top: 6vh;
}

.btn-success {
    background-color: #5b9076;
}

.btn-primary {
    background-color: #6c2c9e;
}

.bi-balloon-heart-fill {
    position: absolute;
    top: 2vh;
    left:42vh;
    display: none;
    color: #6c2c9e;
}


#back-to-top {
    position : fixed;
    bottom : 40px;
    right: 20px;
    font-size: 25px;
    display: none;
    z-index: 1000;
    color: #5b9076;
}

/* base */

#icon {
    padding-top: 10px;
}


/* media queries                    media queries               media queries               */
@media (max-width: 992px){
    h1 {
        width: auto;
    }

    h2, h3 {
        text-align: center;
        padding: 5vh;
    }

    .intro, .shop {
        flex-direction: column;
    }

    .container {
        width: 80vw;
    }

    .presentation {
        padding-top: 5vh;
    }

    .card {
        margin: 3vh;
    }

    #designer {
        display: none;
    }

    #train {
        justify-content: center;
    }

    .form-control, #contact-form {
        width: auto;
    }
}