{% extends 'base.html.twig' %}

{% block title %}Formulaire d'ajout de pièce{% endblock %}
{% block metadesc %}Formulaire pour ajouter une pièce de cuir{% endblock %}

{% block body %}

        <h1 class="mt-5">Ajouter une pièce</h1>
        <div class="container">
                {{ form_start(formPiece)}}
                {{ form_widget(formPiece) }}

                <button type="submit" class="btn btn-primary my-3">Enregistrer</button>
                {{ form_end(formPiece) }}
        </div>
{% endblock %}